* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    height: 100%;
    min-width: 200px;
  }
.container{
    display:flex;
    background-color: rgb(216, 180, 114);
    width:100vw;
    height:100vh;
    padding:0;
    margin:0 auto;
    position:relative;
}
  #snake{
      margin:0 auto;
      margin-top:10rem;
      margin-bottom:10rem;
      width:608px;
      height:608px;
  }